.containerFlexCar {
  display: flex;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  width: 100%; /* Garante que ocupe 100% da largura do contêiner pai */
  box-sizing: border-box; /* Inclui padding e border na largura total */
}

.categoryContainer {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  margin: 0; /* Remove margens */
  padding: 10px 5px;
  box-sizing: border-box; /* Inclui padding e border na largura total */
}

.boxCate:hover {
  transform: scale(1.05);
}

.boxCate {
  display: flex;
  padding: 0px 10px;
  flex: 0 0 auto;
  margin: 0 3px; /* Ajusta margens */
  text-align: center;
  align-items: center;
  border: 1px #dddddd solid;
  border-radius: 10px;
  box-sizing: border-box; /* Inclui padding e border na largura total */
}

.boxCate img {
  width: 50px; /* Ajuste o tamanho conforme necessário */
  height: 50px; /* Ajuste o tamanho conforme necessário */
  display: flex;
  margin: 10px 0; /* Ajusta margens */
}

.boxCate h3 {
  font-size: 16px;
  margin: 0;
}

/* Estilo para a barra de rolagem */
.categoryContainer::-webkit-scrollbar {
  height: 8px;
}

.categoryContainer::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.categoryContainer::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Estilos responsivos */
@media (max-width: 469px) {
  /* Ajustes específicos para telas pequenas, se necessário */
}

@media (min-width: 469px) and (max-width: 1024px) {
  .categoryContainer {
    margin: 0 auto; /* Remove margem importante e centraliza */
  }
}

@media (min-width: 1025px) {
  .categoryContainer {
    margin: 0 auto; /* Remove margem importante e centraliza */
  }
}
