.container {
  display: flex;
  overflow-x: auto; /* Habilita a rolagem horizontal */
  white-space: nowrap; /* Evita que os itens quebrem para a próxima linha */
  margin: 10px;
}
.seeHome{
  display: flex;
  justify-content: space-between;
  padding: 15px 10px  10px;
  margin-bottom: -35px;
  align-items: center;
}
.produto {
  display: block; /* Torna os itens em blocos inline */
  width: 200px; /* Define a largura fixa de cada item */
  margin-right: 20px; /* Adiciona um espaçamento entre os itens */

}
.boxDesc {
  width: 100%; /* Garante que ocupe todo o espaço disponível no contêiner pai */
  max-width: 300px; /* Define um limite para a largura */
  overflow-wrap: break-word; /* Quebra palavras longas */
  word-wrap: break-word; /* Compatibilidade com navegadores antigos */
  hyphens: auto; /* Hifenização automática */
  margin: 0 auto; /* Centraliza dentro do contêiner pai */
  text-align: justify; /* Justifica o texto */
}

.maisVendidos {
  display: flex;
  flex-direction: column; /* Garante que os elementos fiquem empilhados verticalmente */
  align-items: flex-start; /* Alinha os itens ao início */
}

.maisVendidos p {
  font-size: 12px;
  color: #8c0000c0;
  margin: 0;
  padding: 2px 0;
}


.produto img {
  width: 200px;
  height: 100px;
  object-fit: cover; /* Para garantir que a imagem mantenha sua proporção */
  margin-right: 20px;
}
.produto img:hover{
  transform: scale(1.05);
}

.produto .box-value {
  display: flex;
  flex-direction: column;
}

.btn {
  width: 100%;
  padding: 10px 20px;
  background-color: #e44d26;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #8c0000;
}

.produto strong {
  font-weight: bold;
  color: #333;
  font-size: 12px;
  
}

.produto span {
  color: #666;
}
h1 {
  font-size: 22px;
  color: #333;
}

h2 {
  font-size: 14px;
  margin-bottom: 10px;
  color: #333;
}

h4 {
  font-size: 12px;
  padding-top: 5px;
  color: #8c0000c0;
  text-decoration: underline !important;
}
/* Estilos responsivos */
@media (max-width: 469px) {
  
}

/* Estilos para telas médias (tablets) */
@media (min-width: 469px) and (max-width: 1024px) {
  
}

/* Estilos para telas maiores (desktops) */
@media (min-width: 1025px) {
  
  .containerFlexMais{
    display: flex;
  }
  .flexMais{
    margin: auto;
  }
}