.pagina1-container .container {
  display: flex;
  overflow-x: auto; /* Habilita a rolagem horizontal */
  white-space: nowrap; /* Evita que os itens quebrem para a próxima linha */
  margin: 10px;
}

.pagina1-container .seeHome {
  display: block;
  justify-content: space-between;
  padding: 0 10px 15px 10px;
  margin: -10px 0 -30px 0;
  align-items: center;
}
.boxPg1 p{
  margin: -0px;
  padding: 3px 0;
}
.descri {
  margin: 0;
  font-size: 9px;
}
/* Estilo para o select de sabores */
.pagina1-container .select-flavor,
.pagina1-container .select-crust {
  margin: 5px 0;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%; /* Para ocupar toda a largura do contêiner */
}

.pagina1-container .produto {
  display: block; /* Torna os itens em blocos inline */
  width: 200px; /* Define a largura fixa de cada item */
  margin-right: 20px; /* Adiciona um espaçamento entre os itens */
}

.pagina1-container .produto img {
  width: 200px;
  height: 200px !important;
  object-fit: cover; /* Para garantir que a imagem mantenha sua proporção */
  margin-right: 20px;
}

.pagina1-container .produto img:hover {
  transform: scale(1.05);
}

.pagina1-container .produto .box-value {
  display: flex;
  flex-direction: column;
}

.pagina1-container .btn {
  width: 100%;
  padding: 10px 20px;
  background-color: #e44d26;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagina1-container .btn:hover {
  background-color: #8c0000;
}

.pagina1-container .produto strong {
  font-weight: bold;
  color: #333;
  font-size: 16px;
}

.pagina1-container .produto span {
  color: #666;
  font-size: 22px;
  margin: 5px 0;
}

.pagina1-container h1 {
  font-size: 26px;
  color: #333;
  margin-bottom: -10px;
}

.pagina1-container h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.pagina1-container p {
  font-size: 14px;
  color: #8c0000c0;
}

/* Estilo para o select de sabores */
.pagina1-container .select-flavor {
  margin: 5px 0px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Estilo para a notificação centralizada */
.notification {
  position: fixed;
  top: 50%; /* Centraliza verticalmente */
  left: 50%; /* Centraliza horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta para que a notificação fique exatamente no centro */
  background-color: #333;
  color: #c10000;
  padding: 20px 40px;
  border-radius: 5px;
  z-index: 9999; /* Garante que a notificação ficará acima de todos os outros elementos */
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  animation: fadeOut 3s forwards; /* Animação para desaparecer após 3 segundos */
}

/* Animação para desaparecer */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Estilos responsivos */
@media (max-width: 469px) {
  .pagina1-container .container {
    flex-direction: column; /* Alinha os itens verticalmente */
    white-space: normal; /* Permite quebra de linha */
  }
  .pagina1-container .produto {
    width: 100%; /* Ocupa 100% da largura do contêiner pai */
    margin-right: 0; /* Remove margem à direita */
    margin-bottom: 20px; /* Adiciona margem inferior para espaçamento */
  }
  .pagina1-container .produto img {
    width: 100%;
    height: 150px;
    object-fit: cover; /* Para garantir que a imagem mantenha sua proporção */
    margin-right: 20px;
  }
}

/* Estilo para o seletor de tamanho */
.pagina1-container .select-size {
  margin: 5px 0;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

.complements {
  margin-top: 10px;
  text-align: left;
}

.complement-item {
  display: block;
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}

.complement-item input {
  margin-right: 5px;
}

.sizes {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}

.size-option {
  display: block;
  margin: 5px 0;
}

.size-option input {
  margin-right: 5px;
}
